<div class="header-index">
  <div class="header-box">
    <div class="australia">
      australia
    </div>
    <div class="thailand">
      thailand
    </div>
    <div class="indonesia">
      indonesia
    </div>
    <div class="malaysia">
      malaysia
    </div>
    <div class="philippines">
      philippines
    </div>
    <div class="vietnam">
      vietnam
    </div>
    <div class="cambodia">
      cambodia
    </div>
    <div class="laos">
      laos
    </div>
  </div>
</div>

<div class="travel-body">
  travel
</div>