<div class="header-index">
  <div class="header-box">
    <div class="australia">
      australia
    </div>
    <div class="thailand">
      thailand
    </div>
    <div class="indonesia">
      indonesia
    </div>
    <div class="malaysia">
      malaysia
    </div>
    <div class="philippines">
      philippines
    </div>
    <div class="vietnam">
      vietnam
    </div>
    <div class="cambodia">
      cambodia
    </div>
    <div class="laos">
      laos
    </div>
  </div>
</div>

<div class="travel-body">
  <div class="travel-wrapper">
    <div class="travel-text-box">
      <div class="travel-text-title">
        <h1>travel</h1>
        <p>約4年間に及ぶ海外生活</p>
        <p>数多の思い出が...</p>
      </div> 
      <!-- SnapWidget -->
<iframe src="https://snapwidget.com/embed/923546" class="snapwidget-widget" allowtransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden;  width:495px; height:495px"></iframe>
    </div>
  </div>
</div>