<div class="header">
  <div class="header-box">
    <div class="work">
      <div class="work-lists" id="worklists">work
      </div>
      <ul class="show-work-lists hidden">
        <li>programming</li>
        <li>photo gallery</li>
      </ul>
    </div>

    <div class="travel">
    travel
    </div>
    <div class="food">
    food
    </div>
    <div class="life">
    life
    </div>
  </div>
</div>