<div class="header">
  <div class="header-box">
    <div class="work">
      <div class="work-lists" id="worklists">work
      </div>
    </div>

    <div class="travel">
      <div class="travel-lists" id="travellists">
        <%= link_to 'travel', travels_path %>
      </div>
    </div>
    <div class="food">
    food
    </div>
    <div class="life">
    life
    </div>
  </div>
</div>