<div class="header">
  <div class="header-box">
    <div class="work">
      <div class="work-lists" id="worklists">work
      </div>
      <ul class="show-work-lists hidden" id="pull-down-work">
        <li>programming</li>
        <li>photo gallery</li>
      </ul>
    </div>

    <div class="travel">
      <div class="travel-lists" id="travellists">
        <%= link_to 'travel', travels_path %>
      </div>
      <ul class="show-travel-lists hidden" id="pull-down-travel">
        <li>AUSTRALIA</li>
        <li>THAILAND</li>
        <li>VIETNAM</li>
        <li>PHILIPPIN</li>
      </ul>
    </div>
    <div class="food">
    food
    </div>
    <div class="life">
    life
    </div>
  </div>
</div>