<div class="header">
  <div class="header-box">
    <div class="work">
    work
    </div>
    <div class="travel">
    travel
    </div>
    <div class="coffee">
    coffee
    </div>
    <div class="life">
    life
    </div>
  </div>
</div>