<%= render "header" %>
<div class="wrapper">
  <div class="profile-box">
    <div class="profile-text">
      <h1>Profile</h1>
      <h3>田野倉 豪希 (たのくら つよき)</h3>
      <p>1988年11月24日生まれ、東京育ち</p>
      <p>2013年、青山学院大学理工学部を卒業後</p>
      <p>海外へ旅立つ、フィリピンでの語学留学、</p>
      <p>ワーキングホリデーでオーストラリア、タイにてスキューバダイビングのガイドなどを経験、合計約4年の海外生活後、</p>
      <p>2019年8月に帰国。</p>
      <p>居酒屋の新規立ち上げに携わるなど、チャレンジを好む性格。</p>
      <p>趣味ではサーフィン、スノーボード、ダイビング、釣り、写真など自然と関われることが大好き。</p>
    </div>

    <div class="profile-photo">
    </div>
  </div>
  <div class="fixed-background background-1">
  <h1>work</h1>
  </div>
  <div class="scroll-background background-color-1">
    <h2>Programming</h2>
    <p>2020年末からプログラミング学習を始めてからの製作物。</p>
    <p>Ruby、JavaScriptなどで作成。</p>
    <p>現在もRuby on Railsを用いてオリジナルアプリケーションの作成中。</p>
    <p>また、Pythonも独学で学習しており、常に新しいことにチャレンジ。</p>

    <h2>photography</h2>
    <p>お気に入りの写真たち</p>
  </div>
  <div class="fixed-background background-2">
  <h1>travel</h1>
  </div>
  <div class="scroll-background background-color-2">
  <h1></h1>
  <br><%= link_to 'i have been to some country', travels_path %>
   <p>約4年間撮りためた写真たち。</p>
   <p>数々の思い出があり、とても大事な記録と記憶。</p>
   <p>経験は宝だと思えるきっかけになった旅。</p>
   
  </div>
</div>