<%= render "header" %>
<div class="wrapper">
  <div class="fixed-background background-1">
  <h1>test</h1>
  </div>
  <div class="scroll-background background-color-1">
  <h1>work</h1>
  <br>programming
  <br>photgraphy
  </div>
  <div class="fixed-background background-2">
  <h1>test</h1>
  </div>
  <div class="scroll-background background-color-2">
  <h1>travel</h1>
  <br>i have been to some country
  </div>
</div>