.profile-box {
  display: flex;
  text-align: center;
  justify-content: center;
}

.profile-text {
  width: 35vw;
  height: 30vh;
}

.profile-photo {
  width: 35vw;
  height: 30vh;
}






.fixed-background {
  min-height: 50vh;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.background-1 {
  background-image: url("untitled-15832.jpg");
}

.background-2 {
  background-image: url("untitled-1863.jpg");
}