.profile-box {
  display: flex;
  text-align: center;
  justify-content: center;
  height: 70vh;

}

.profile-text {
  width: 45vw;
}

.profile-photo {
  width: 35vw;
}






.fixed-background {
  min-height: 50vh;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;

}

.fixed-background h1 {
  font-size: 40px;
  color: gray;
}

.background-1 {
  background-image: url("untitled-15832.jpg");
}


.background-2 {
  background-image: url("untitled-1863.jpg");
}